#ParentDiv > div:nth-child(2) > div:nth-child(1) {
    width: 50%;
    margin: auto;
}

    #ParentDiv > div:nth-child(2) > div:nth-child(1) > div:nth-child(2){
        float:unset;
        width:unset;
    }

#ParentDiv > div:nth-child(2) > div:nth-child(2){
    display:none;
}

#Login1 {
    background-color: White;
    border-color: #E6E2D8;
    border-width: 1px;
    border-style: None;
    width: 100%;
    border-collapse: collapse;
}

    #Login1 > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) {
        width: 100%;
        text-align: center;
    }

    #Login1 > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2) {
        display: none;
    }

    #Login1 > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(3) > td:nth-child(1) {
        text-align: center;
    }

    #Login1 > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(3) > td:nth-child(2){
        display:none;
    }

    #Login1 > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(6) > td:nth-child(1) {
        display: none;
    }

#ParentDiv > div:nth-child(2) > div:nth-child(2) {
    display: none;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--navbar-color);
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 1em;
    padding: 5px;
    text-align: center;
}